* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* [--- top navbar 1 ---]*/
:root {
  --fontprimarycolor: rgb(17, 17, 17);

  --fontsecondarycolor-color: rgba(128, 128, 128, 0.714);
  --fontsecondarydarkcolor-color: rgba(37, 36, 36, 0.714);
  --hoverred-color:rgb(248, 50, 50);
}
.top-navbar-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.152);
  background-color: whitesmoke;
}

.top-navbar-1-left-list,
.top-navbar-1-right-list {
  display: flex;
  gap: 20px;
  list-style: none;
}
#currency-options,
#languages-options {
  color: var(--fontsecondarycolor-color);
  border: 1px solid rgba(128, 128, 128, 0.105);
  padding: 2px;
  font-size: xx-small;
}
.top-navbar-1 a {
  text-decoration: none;
  color: var(--fontsecondarycolor-color);
}

/* [--- top navbar 2 ---] */
.top-navbar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: whitesmoke;
}
.logo-2nd-half {
  color: red;
}
.top-navbar-2-list ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.top-navbar-2-list li {
  position: relative;
  padding: 0 0 5px 0;
}
.top-navbar-2-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Height of the bottom border */
  background-color: red; /* Color of the bottom border */
  transition: width 0.3s ease-in-out; /* Smooth transition for the border */
}
.top-navbar-2-list li:hover::before {
  width: 100%;
}
.top-navbar-2-list a {
  text-decoration: none;
  color: var(--fontsecondarydarkcolor-color);
}

/* [--- top main section ---] */
.main-section {
  background-image: Url(PR10img/img9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  object-fit: fill;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  color: red;
  z-index: 1;
  position: relative;
}
.main-section-main-heading {
font-size: xx-large;
}
.main-section::before {
  position: absolute;
  content: " ";
  background-color: rgba(78, 77, 77, 0.259);
  width: 100%;
  height: 80vh;
  z-index: -1;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
  color: rgb(227, 224, 217);
}
.main-section-search-area-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  /* height: 50px; */
  margin: 0 auto;
  
}

.main-section-search-area {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 40px;
  width: 300px;
  position: relative;
  border-radius: 2px;
}
.search {
  padding: 15px;
  border: none;
  width: 300px;
  height: 40px;
}

.main-section-search-area .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
  cursor: pointer;
  
}
.main-section-search-area-button {
  cursor: pointer;
  height: 40px;
  border: none;
  width: 80px;
  background-color: red;
  color: whitesmoke;
}

/* [---- topic section ---] */
.topic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.topic-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  z-index: 1;
  top: 83%;
}
.topic {
  width: 150px;
  height: 12%;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.529);
  background-color: rgb(253, 253, 252);
  transition:background-color  0.3s ease-in-out;
  
}
.topic:hover{
  background-color:var(--hoverred-color);
  color: white;
}
.topic:hover .topic-container-about{
  color: white;
}
.topic-container-icon {
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
}
.topic-container-about {
  color: var(--fontsecondarydarkcolor-color);
  padding: 10px;
}

/* [---- working section ----] */
.working-section {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.working-section-headings {
  margin-bottom: 10px;
  padding: 40px 0 40px 0;
}
.working-section-main-heading {
  
  margin-bottom: 10px;
}
.working-section-work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  /* border: 2px solid wheat; */
}
.work {
  width: 30%;
  border: 2px solid rgba(128, 128, 128, 0.529);
  border-radius: 2px 40px;
  transition:background-color  0.5s ease-in-out;
}
.work:hover{
  background-color: var(--hoverred-color);
  color: white;
}
.work-container-icon {
  margin: 20px 0 20px 0;
  border: 2px solid white;
  background-color: rgba(128, 128, 128, 0.425);
  padding: 12px;
  border-radius: 50%;
}
.work:hover .work-container-icon{
  background-color: white;
  color: var(--hoverred-color);
}
.work-container-about {
  padding: 12px;
  margin: 15px 0 15px 0;
}
.work-container-button {
  padding: 10px 12px 10px 12px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 2px solid rgba(128, 128, 128, 0.529);
  border: none;
  font-size: 10px;
  border: 1px solid var(--fontsecondarycolor-color);
  color: var(--fontsecondarydarkcolor-color);
}
.work:hover .work-container-button{
  background-color: white;
  color: var(--hoverred-color);
}

/* [----- explore section ----]  */
.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 100%;
  background-color: rgba(230, 226, 226, 0.23);
}
.explore-section-top-headings {
  text-align: center;
  margin: 40px;
}
.explore-section-main-heading {
  margin-bottom: 10px;
}
.explore-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.explore-item {
  border: 2px solid var(--fontsecondarycolor-color);
  width: 100%;
  transition: box-shadow 0.3s ease-in;
}
.explore-item:hover {
  box-shadow: 1px 4px 6px 5px rgba(20, 19, 19, 0.258);
}

.explore-item-img-container {
  width: 100%;
  position: relative;
}
.explore-item-img-container::before {
  content: " ";
  position: absolute;
  background-color: rgba(122, 120, 120, 0.223);
  z-index: 1;
  top: 0;
  bottom: 4px;
  right: 0;
  left: 0;

  width: 100%;
}
.explore-item-img {
  width: 100%;
}

.explore-item-img-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px 0 5px;
  position: absolute;
  color: aliceblue;
  z-index: 1;
  opacity: 0;
  bottom: 10px;
  transition: opacity 0.3s ease-in-out;
  
}
.explore-item-img-button-container .item-type {
  background-color: rgb(247, 58, 58);
  padding: 5px;
  border-radius: 4px;
}
.explore-item-img-container:hover,
.explore-item:hover .explore-item-img-button-container {
  opacity: 1;
}
.item-img-icons-container ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.explore-item-img-button-container a {
  color: rgb(171, 164, 164);
  background-color: rgba(17, 17, 17, 0.804);
  padding: 5px;
}
.explore-item-img-button-container:hover {
  opacity: 1;
  cursor: pointer;
  /* background-color: aqua; */
}

.explore-content {
  font-size: 16px;
  margin: 10px;
}
.explore-item-name {
  font-size: larger;
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
}
.explore-item-rating-container {
  /* border: 2px solid rebeccapurple; */
  padding: 0 20px 0 20px;
}
.explore-item-rating-container .rating-points {
  background-color: rgba(40, 140, 254, 0.805);
  padding: 2px 6px 2px 6px;
  border-radius: 3px;
  /* cursor: pointer; */
}
.explore-item-rating-container .rating-numbers {
  cursor: pointer;
}
.explore-item-rating-container .price-number {
  color: red;
}
.explore-item-rating-container .type {
  cursor: pointer;
}

.rating-container-employee {
  border-bottom: 2px solid rgba(128, 128, 128, 0.09);
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.employee-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  
}

.explore-content .employee-booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  
}
.explore-content a {
  text-decoration: none;
  color: var(--fontsecondarycolor-color);
}
.explore-content .about-booking {
  display: flex;
  gap: 10px;
  list-style: none;
  color: var(--fontsecondarycolor-color);
}
.about-booking .location-icon:hover,
.upload-icon:hover {
  color: black;
}
.about-booking .heart-icon:hover {
  color: red;

}

/* [----- review section ------ ] */
.review-section {
  
  width: 100%;
  padding-bottom: 50px;
}
/* /// headings /// */

.headings {
  text-align: center;
  margin: 30px 0 70px 0;
}
.review-container .main-heading {
  margin-bottom: 15px;
}
.clients-reviews-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* background-color: aqua; */
}
.review-container .client {
  /* opacity: 0.6; */
  border: 2px solid rgba(128, 128, 128, 0.071);
  padding: 20px;
  width: 270px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 0.2s ease-in, filter 0.3s ease-in-out;
  }
   .review-container .client:hover{
    transform: scale(1.02);
    opacity: 1;
    box-shadow: 1px 4px 6px 5px rgba(20, 19, 19, 0.258);
  }
  
.clients-reviews-container:hover>.client:not(:hover){
    opacity: 0.3;
} 

.about-client {
  display: flex;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.client-name {
  margin-bottom: 10px;
}
.client-area {
  color: var(--fontsecondarycolor-color);
  margin-bottom: 10px;
}
.client-stars {
  color: rgb(238, 238, 36);
}
.client-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* [---- listing section ---] */

.listing-section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: rgba(17, 17, 17, 0.288);
}
.listing-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url(PR10img/img12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.9;
}
.main-listing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 40px;
  background-color: rgba(245, 243, 247, 0.062);
  color: rgb(255, 255, 255);
}
.list-container{
  /* display: block; */
  text-align: center;
  padding: 15px;
}
.list-container .list-number {
  font-size: xx-large;
}

/* [--- article section ----] */
.article-section {
  width: 100%;
  padding-bottom: 40px;
}
.article-section-headings {
  text-align: center;
  padding: 20px;
}
.article-section .main-heading {
  padding: 0 0 15px 0;
}
.main-article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.article-container {
  width: 20%;
  border: 2px solid var(--fontsecondarycolor-color);
  transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
}
.article-container:hover {
  box-shadow: 1px 4px 6px 5px rgba(20, 19, 19, 0.258);
  transform: scale(1.01);
}
.article-img-container {
  width: 100%;
  height: 250px;
  
}
.article-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  
}
.about-article {
  padding: 10px;
}
.article-title {
 
  padding: 0 0 10px 0;
  transition: color 0s ease;
}
.article-container:hover .article-title {
  color:var(--hoverred-color);
}
.article-author {
  padding: 0 0 10px 0;
  color: var(--fontsecondarydarkcolor-color);
}
.article-author a {
  text-decoration: none;
  color: var(--fontprimarycolor);
}

/* [---- contact section ---]*/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: rgba(200, 200, 206, 0.125);
}
.contact-container {
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.contact-section-main-heading {
  padding: 0 0 20px 0;
}
.contact-section-sub-heading {
  padding: 0 0 20px 0;
  color: var(--fontsecondarydarkcolor-color);
}
.contact-detail {
  
  width: fit-content;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
  box-shadow: -1px 4px 4px 0px rgba(20, 19, 19, 0.258);
}
.contact-detail:hover {
  box-shadow: 1px 4px 6px 5px rgba(20, 19, 19, 0.258);
}
.email-input {
  width: 250px;
  padding: 10px;
  border: none;
}
.contact-button {
  background-color: red;
  color: whitesmoke;
  padding: 10px;
  border: none;
  margin-left: -6px;
}
.email-input:focus {
  outline: none;
}

/* //// FOOTER //// */
.footer {
  padding: 40px 0 40px 0;
}
.COPYRIGHT {
  padding: 20px;
  text-align: center;
}

/* [--------------------- MEDIA QUERIES ----------------] */
@media (max-width: 1140px) {

  .explore-section-container{
      grid-template-columns: repeat(2, 1fr);
  }
  .explore-item{
      margin:0 auto;
      width: 400px;
      
  }
  .main-article-container{
      flex-wrap: wrap;
  }
  .article-container{
      width: 350px;
  }
  }
  /* //////////////////////////// */
  @media (max-width: 860px){
  
      .main-section-search-area-container{
          flex-direction: column;
      }
      .topic-container{
          position: relative;
          padding-top: 30px;
      }
  
      .working-section-work-container{
          flex-wrap: wrap;
      }
      .work{
          width: 40%;
      }
      .explore-section{
          width: 100%;
      }
  .explore-section-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .explore-item{
      margin:0 auto;
      width: 300px;
      
  }
  .listing-section{
      width: 100%;
  }
  .main-article-container{
      flex-wrap: wrap;
  }
  .main-article-container{
      width: 100%;
  }
  }
  /* /////////////////////////////////////////// */
  @media (max-width: 600px){
  
      /* ///top navbar/// */
      .top-navbar-1{
          /* display: flex; */
          flex-direction: column;
          /* align-items: flex-start; */
          gap: 10px;
          
      }
      /* ///top 2 navbar/// */
      .top-navbar-2{
          display: flex;
          flex-direction: column;
          gap: 10px;
         
      }
      .top-navbar-2 ul{
          font-size: smaller;
          width: fit-content;
          flex-wrap: wrap;
      }
      /* ///main section/// */
      .main-section-search-area-container{
          display: flex;
          flex-direction: column;
          /* justify-content: center; */
          /* align-items: center; */
          /* padding: 0; */
          margin: 0 auto;
  
      }
  
  
      /* /// topic /// */
      .topic-section{
          width: 100%;
      }
      .topic-container{
          display: flex;
          /* flex-direction: column; */
          position: relative;
          padding-top: 30px;
          width: 100%;
  
      }
  
      .working-section-work-container{
          display: flex;
          flex-direction: column;
          width: 90%;
          margin: 0 auto;
          
      }
      .work{
          width: 100%;
      }
  
  
      .explore-section{
          width: 100%;
      }
  .explore-section-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
  .explore-item{
      margin:0 auto;
      width: 250px;
      
  }
  .listing-section{
      width: 100%;
  }
  
  .main-listing-container{
      gap: 0;
         display: flex;
      align-items:center;
      width: 100%;
      flex-wrap: wrap;
   }
  
   .main-article-container{
      display: flex;
      flex-direction: column;
   }
   .article-container{
      width: 80%;
   }
  
   .contact-button{
      margin-top: 10px;
   }
  }
  
  /* ///2nd media /// */
  
